<h2>Add a new bookmark</h2>
<div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit class: 'btn-submit mt-3' %>
  <% end %>
</div>
